h1 {
    font-family: 'Segment7', sans-serif;
    font-family: 'Bungee Hairline', sans-serif;
    font-family: 'Rationale', sans-serif;
}

@font-face {
    font-family: 'Digital Numbers Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Digital Numbers Regular'), url('/css/DigitalNumbers-Regular.woff') format('woff');
    }

.time {
    font-family: 'Digital Numbers Regular', sans-serif;
    font-size: 35px;
}

body {
    font-size: 40px;
    font-family: 'Rationale', sans-serif;
    transition: background-color 1s, color 1s;
}

.sun-moon {
    transition: 5s;
}

.watch-div {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    background-color: rgb(90, 90,90);
    height: 650px;
    border-radius: 40px;
    box-shadow: 10px 10px 25px 1px rgb(90, 90,90);
    transition: background-color 1s, box-shadow 1s;
}
.watch-div-lightsout{
    box-shadow: none;
    background-color: black;
}

a {
    text-decoration: none;
    color: white;
}

.top-div {
    height: 50px;
    display: grid;
    grid-template-columns: 150px 150px;
    grid-auto-rows: minmax(auto, auto);
    color: white;
    font-size: 15px;
    padding: 0;    
    transition: color 1s;
}

.casio {
    color: white;
    font-family: "Orbitron";
    font-size: 25px;
    cursor: pointer;
    transition: color 1s;
}
.data-bank {
    color: gold;
    font-size: 20px;
    font-style: italic;
    text-align: end;
    transition: color 1s;
}
.number-150 {
    font-weight: bolder;
    font-size: 25px;
}

.illuminator {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: -1;
    letter-spacing: 3px;
    color: turquoise;
    font-style: italic;
    font-weight: bold;
}

.display-div {
    color: black;
    padding: 20px;
    margin: 5px auto 15px;
    background-color: lightgray ;
    border-radius: 12px;
    border: slategray inset 10px;
    height: 100px;
    width: 230px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    transition: box-shadow 0.5s cubic-bezier(0.25, 0.94, 0, 0.97),
    background-color 1s cubic-bezier(0.25, 0.94, 0, 0.97);
}
.display-outer-div {
    padding: 10px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 360px;
    height: 250px;
    border-radius: 35px 35px 10px 10px;
    border: 2px outset grey;
    transition: border 1s;
}
.display-outer-div-lightsout {
    border-color: turquoise;
}

.middle-div {
    width: 90%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.memory-protect-div {
    padding: 0 0 0 10px;
    color: gold;
    font-style: italic;
    font-size: 25px;   
    width: 170px;
    height: 30px;
    background-color: rgb(0, 46, 71);
    border-radius: 5px 0px 0px 5px;
}
.tri-1 {   
    height: 0;
    width: 0;
    border-top: 30px solid rgb(0, 46, 71);
    border-right: 30px solid transparent;
    transition: 1s;
}
.tri-2 {
      
    height: 0;
    border-bottom: 35px solid gray;
    border-left: 35px solid transparent;
    box-shadow: 2px 2px black;
    cursor: pointer;
    transition: border-bottom 1s;
}
.tri-2-pressed {
    box-shadow: none;
}

.light {
    padding: 0 7px 0 0;
    font-size: 23px;
    height: 35px;
    font-family: Arial, sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    background-color: gray;
    color: gold;
    border-radius: 0 5px 5px 0;
    box-shadow: 2px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgb(10, 10, 10), -1px -1px 1px rgb(200,200,200);
}
.light-pressed {
    box-shadow: none;
}

.on {
    display: block;
}
.off {
    display: none;
}

.keyboard {
    margin: 10px 0 0;
    background-color: rgb(65, 65,65);
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-gap: 10px;
    border: inset 2px rgb(100, 100,100);
    border-radius: 10px;
}
.keyboard-lightsout {
    border-color: turquoise;
}

.btn {
    width: 75px;
    height: 40px;
    background-color: gray;
    color: white;
    border-radius: 5px;
    border: solid 1px rgb(45, 45,45);
    box-shadow: -1px -1px 10px inset darkslategray;
    font-size: 20px;
    font-weight: bold;
    font-family:monospace;
    letter-spacing: 3px;
}

.btn-active{
    background-color: rgb(26, 36, 36);
    color: rgb(155, 155, 155);
    box-shadow: -1px -1px 10px inset black;
}
.btn:active{
    background-color: rgb(26, 36, 36);
    color: rgb(155, 155, 155);
    box-shadow: -1px -1px 10px inset black;
}

.btn-top {
    background-color: steelblue;
}
.btn-top-active {
    background-color: rgb(0, 33, 59);
}
.btn-top:active {
    background-color: rgb(0, 33, 59);
}

.lights-off {
    background-color: black;
    color: white;
}
.dark-screen {
    border-color: black;
    background-color: rgb(10, 10, 10);
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 45px;
}

.day {
    width: 30px;
}
.night {
    width: 0;
}


.backlight {
    z-index: 3;
    background-color: #00ced1;
    box-shadow: 1px 1px 400px 100px darkturquoise ;
    border-color: turquoise;
}
.backlight-red {
    z-index: 3;
    animation: red-alarm 0.5s ease-in-out 13 forwards;
}

@keyframes red-alarm {
    0% {
        background-color: black;
        color: red;
        box-shadow: 1px 1px 400px 100px none;
    }
    50% {
        background-color: red;
        color: black;
            box-shadow: 1px 1px 400px 100px red ;
    }
    100% {
        background-color: black;
        color: black;
        box-shadow: 1px 1px 400px 100px none;            
    }

}

.calculator-display {
    padding: 0;
    margin-left: 0;
    border: none;
    background-color: transparent;
    font-size: 65px;
    width: 100%;
    text-align: right;
    font-family: 'Rationale';
    color: black;

}
.date {
    height: 30px;
    margin: 0 auto 10px;
    font-family: "Rationale";
    font-size: 35px;
    text-align: center;

}
.sun-moon {
    cursor: pointer;
}


#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }


.button-watch-assembly {
    top: 10%;
    left: 25%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mode-btn {
    background-color: black;
    color:white;
    padding: 15px 0;
    width: 20px;
    height: 50px;
    border-radius: 15px 0 0 15px;
    border-right: none;
    position: relative;
    bottom: 127px;
    transition: border 1s;
}
.mode-btn-lightsout {
    border-color: turquoise;
}
 
.btn-vertical-text {
    position: relative;
    right: 10px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transition: 1s;
}


.btn-vertical-text-lightsout {
    color: turquoise;
}

.flex-span-display {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lights-out-on {
    background-color: black;
    color: turquoise;
    box-shadow: none;
    transition: 1s;
}
.tri1-lights-out-on {
    border-top: 30px solid black;
}

.tri2-lights-out-on {
    border-bottom: 35px solid black;
}
